@import "../node_modules/bulma/bulma.sass"
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css"

html
    overflow-y: hidden

body
    width: 100vv
    height: 100vh

main
    width: 100%
    height: calc(100% - #{$navbar-height})

.ca-fade
    &-in
        opacity: 1
        visibility: visible
        transition: opacity 1s
    &-out
        opacity: 0
        visibility: hidden
        transition: visibility 0s 1s, opacity 1s
